/*
 * Importing a font
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
 * Overall page style
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #cecccc;
}


/*
 * Align items in the header and center them
 */
header {
    background-color: #4F2D82;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 3px;
}

header img {
    background-color: #4F2D82;
    width: 4%;
    height: 3%;
}

/*
 * General style for buttons and links
 */
 header li, header a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #EDF0F1;
    text-decoration: none;
}

/*
 * Override defaults
 */
.nav_links {
    background-color: #4F2D82;
    list-style: none;
}

/*
 * Get navbar links to sit next to each other
 */
.nav_links li {
    background-color: #4F2D82;
    display: inline-block;
    padding: 0px 20px;
}

/*
 * Add animation to navbar links
 */
.nav_links li a {
    background-color: #4F2D82;
    transition: all 0.3s ease 0s;
}

/*
 * Change colour when navbar link is hovered over
 */
.nav_links li a:hover {
    color: #E3E35D;
}

/*
 * General Formatting for Texts
 */
p, h1, h2, h3, form, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    padding: 20px 20px;
}

p a {
    transition: all 0.3s ease 0s;
}

/*
 * Format query panels
 */

 form {
    font-family: 'Montserrat', sans-serif;
 }

 select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
 }


  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;

  }
  

  
  .container {
    border-radius: 5px;
    padding: 20px;
    overflow-x:auto
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .col-37p5 {
    float : left;
    width: 37.5%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* style tables and their components */
table {
  margin-top: 20px;
  margin-left: 320px;
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 75%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #4F2D82;
  border-style: solid;
  color: #000000;
}

td {
  background-color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  border-width: 2px;
  border-color: #4F2D82;
  border-style: solid;
  padding: 5px;
}

th {
  background-color: #4F2D82;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  border-width: 2px;
  border-color: #4F2D82;
  border-style: solid;
  padding: 5px;
  color:#FFFFFF;
}

table thead {
  background-color: #4F2D82;
}

/* increase checkbox size */
input[type=checkbox] {
  transform: scale(2.5);
  margin-top: 15px;
  width: 3%;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* style the date pciker */
[type="date"] {
  background:#FFFFFF;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  
}


input[type=text], select, textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  background-color: #4F2D82;
  color: white;
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


input[type=submit]:hover {
  background-color: #4F2D82;
}

div.h_radio {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

