<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> WCCS - Edit Data </title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../js/edit_functions.js"></script>
    </head>
    <body>
        <header>
            <img src="../../img/uwo-logo.png" alt="uwo logo"/>
            <ul class="nav_links">
                <li><a href="../../index.html">Western CS Catalogue</a></li>
            </ul>
            <nav>
                <ul class="nav_links">
                    <li><a href="view.html">View</a></li>
                    <li><a href="add.html">Insert</a></li>
                    <li><a href="edit.html">Edit</a></li>
                    <li><a href="delete.html">Delete</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-25">
                    <label for="wcs_course_list">Select Course to Edit</label>
                </div>
                <div class="col-75">
                    <select id="wcs_course_list">
                        <option value="-">-</option>
                    </select>
                </div>
            </div>
            <form style="display: none;">
                <div class="row">
                    <div class="col-25">
                        <label for="course_name">New Course Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="course_name" name="course_name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="course_weight">New Course Weight</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="course_weight" name="course_weight">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="suffix">New Course Suffix</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="suffix" name="suffix">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" id="submitForm"></input>
                </div>
            </form>
        </div>
    </body>
</html>