<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> WCCS - Edit Data </title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../js/edit_functions.js"></script>
    </head>
    <body>
        <header>
            <img src="../../img/uwo-logo.png" alt="uwo logo"/>
            <ul class="nav_links">
                <li><a href="../../index.html">Western CS Catalogue</a></li>
            </ul>
            <nav>
                <ul class="nav_links">
                    <li><a href="view.html">View</a></li>
                    <li><a href="add.html">Insert</a></li>
                    <li><a href="edit.html">Edit</a></li>
                    <li><a href="delete.html">Delete</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>